* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 25px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding-left: 0;
    padding-right: 0px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 {
    max-width: 100%;
    padding: 50px 0;
}

.col h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}



.btn {
    display: inline-block;
    background: rgb(221, 110, 147);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.btn:hover {
    background: rgb(202, 75, 96);
    transform: translateY(-3px);
    transition-duration: 0.5s;
}

.header {
    background: radial-gradient(white, pink)
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
}

#shirt {
    transition-duration: 0.5s;
}

#mug {
    transition-duration: 0.5s;
}

#tumbler {
    transition-duration: 0.5s;
}

#shirt:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

#mug:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

#tumbler:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    transition-duration: 0.3s;
}

.title::after {
    content: '';
    background: rgb(221, 110, 147);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: rgb(221, 110, 147);
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer a {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
    padding: 50px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3 {
    flex-basis: 30%;
    text-align: center;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    color: #555;
    display: none;
}

select {
    border: 1px solid rgb(221, 110, 147);
    padding: 5px;
}

select:focus {
    outline: none;
}

#small {
    transition-duration: 0.5s;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 125px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition-duration: 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col,
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .footer {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 22px;
    }

    .single-product img {
        width: 300px;
        text-align: left;
    }

    .cart-info p {
        display: none;
    }

    .singleImage {
        width: 150px;
        text-align: left;
    }

    #small-container {
        width: 300px;
        text-align: center;
        padding-left: 10px;
    }

    #small-container .col-2 {
        width: 300px;
        text-align: center;
    }

    #small-container .contact {
        width: 300px;
        height: 500px;
        text-align: center;
    }

    #small-container .payment {
        width: 300px;
        min-height: 750px;
        text-align: center;
    }

    #small-container .form-title {
        width: 250px;
        text-align: center;
    }

    #small-container #Contact-Indicator {
        width: 250px;
        margin: 5 auto;
    }

    .shirt-container {
        width: 300px;
    }

    .shirt-container canvas {
        width: 300px;
    }

    .shirt-container .mugimage {
        width: 250px;
        height: 250px;
    }
}


.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(221, 110, 147);
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: rgb(221, 110, 147);
    margin-left: 10px;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgb(221, 110, 147);
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: rgb(221, 110, 147);
    font-size: 12px;
}

td img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid rgb(221, 110, 147);
    width: 100%;
    max-width: 375px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.account-page {
    padding: 50px 0;
    background: radial-gradient(white, pink)
}

.customization-page {
    padding: 50px 0;
    background: radial-gradient(white, pink)
}

.contact {
    background: #fff;
    width: 500px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.contact form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}


.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: rgb(221, 110, 147);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}

#Customize-Indicator {
    width: 250px;
    border: none;
    text-align: center;
    background: rgb(221, 110, 147);
    height: 3px;
    margin-top: 8px;
    transform: translateX(0);
    transition: 1s;
}

#Contact-Indicator {
    width: 450px;
    margin: 0 auto;              
    border: none;
    background: rgb(221, 110, 147);
    height: 3px;
    margin-top: 8px;
    transform: translateX(0);
    transition: 1s;
}

#customize {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    width: 150px;
    display: inline-block;
}

.form-title {
    display: inline-block;
    text-align: center;
}

.btn-white {
    display: inline-block;
    background: #fff;
    color: black;
    padding: 8px 30px;
    margin: 5px;
    border-radius: 30px;

}

#CustomizeForm {
    position: absolute;
    top: 75px;
}

.customizationapplication {
    background: #fff;
    width: 300px;
    height: 850px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.customizationapplication form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}



.ContactForm {
    width: 90%;
    height: 500px;
    position: relative;
    text-align: center;
    margin: auto;

    overflow: hidden;
}

.contactForm form {
    max-width: 300px;
}

textarea:focus {
    outline: none;
}

#title {
    transition: transform 0.5s, opacity 0.5s;
}

#shirt-container {
    transition: transform 0.5s;
}

#small-container {
    transition: transform 0.5s;
}

.singleImage {
    width: 380px;
}

#payment {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    width: 150px;
    display: inline-block;
}

.PaymentForm {
    width: 90%;
    min-height: 775px;
    height: auto;
    position: relative;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.paymentForm form {
    max-width: 300px;
}

.payment {
    background: #fff;
    width: 500px;
    min-height: 775px;
    height: auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;  /* don’t clip form inputs if they overflow */
  }
  

.payment span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}


.payment form {
    max-width: 300px;
    padding: 0 20px;
    padding-top: 65px;
    transition: 1s;
}

.payment #order-summary {
    text-align: center;
}

.subtaxtotal {
    width: 100%;
}

.subtaxtotal td:first-child {
    text-align: left;
}

.subtaxtotal td:last-child {
    text-align: right;
    padding-right: 0px;
}

.shirt-container {
    position: relative;
}
.design-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    pointer-events: none;
}